# Node modules
/node_modules

# Compilation output
/dist

# build files
.next

# pnpm deploy output
/bundle

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

/.env.local.next
/.env.local
.env.local

# Remove yarn.lock to fix broken dependency issue
